<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b17d1a3-9511-4f9f-8fce-614f61871c53" Alias="factList" Level="2">
  <Info>
    <Name>Fact List</Name>
    <Icon>icon-bulleted-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions>
      <Composition Key="7cebdc47-a965-49ec-ab42-bc887d6b1119">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6f6fc8fa-2ed2-46a6-a0d6-891229506045" SortOrder="0">fact</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>