<?xml version="1.0" encoding="utf-8"?>
<Content Key="b23d18ce-1e1e-410b-930f-d4424980d2cb" Alias="Create Fact" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/CreateFact</Path>
    <Trashed>false</Trashed>
    <ContentType>createFact</ContentType>
    <CreateDate>2022-07-11T10:53:11</CreateDate>
    <NodeName Default="Create Fact" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81506d8d-5bbd-4dc3-b5d6-f88f9605b06e">CreateFact</Template>
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[<p>Oh no!</p>]]></Value>
    </errorMessage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <instructionMessage>
      <Value><![CDATA[]]></Value>
    </instructionMessage>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <searchFeatures>
      <Value><![CDATA[{"title":"Create Fact","description":"","noIndex":false,"shareTitle":"Create Fact","shareDescription":"","shareImage":null,"shareImageUrl":null,"default":{"title":"","description":""},"share":{"title":"","description":"","image":null,"imageUrl":null}}]]></Value>
    </searchFeatures>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <successMessage>
      <Value><![CDATA[<p>Hooray!</p>]]></Value>
    </successMessage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>