<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a1cd8f2-1603-4e68-9736-3b6bc74af423" Alias="Login" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2022-03-01T12:40:50</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd4b75fb-8e36-48f1-ad14-27025de26831">Login</Template>
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[<p>Error</p>]]></Value>
    </errorMessage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <instructionMessage>
      <Value><![CDATA[<p>Sign in or <a href="/{localLink:umb://document/00bf001c124d406eb3f924c0f2634b4c}" title="Register">register</a></p>]]></Value>
    </instructionMessage>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <searchFeatures>
      <Value><![CDATA[{"title":"Login","description":"","noIndex":false,"shareTitle":"Login","shareDescription":"","shareImage":null,"shareImageUrl":null,"default":{"title":"","description":""},"share":{"title":"","description":"","image":null,"imageUrl":null}}]]></Value>
    </searchFeatures>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <successMessage>
      <Value><![CDATA[<p>Success</p>]]></Value>
    </successMessage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>