<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b9661ff-a8b4-40a7-9910-fe73675e3095" Alias="Long time in IT" Level="3">
  <Info>
    <Parent Key="d275e324-e30c-46c0-92ad-a56a3dbe50b9">Umbraco Facts</Parent>
    <Path>/Home/UmbracoFacts/LongTimeInIT</Path>
    <Trashed>false</Trashed>
    <ContentType>fact</ContentType>
    <CreateDate>2022-07-11T07:06:30</CreateDate>
    <NodeName Default="Long time in IT" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[Umbraco has been around since 2005, that's a looong time in IT]]></Value>
    </content>
  </Properties>
</Content>