<?xml version="1.0" encoding="utf-8"?>
<Content Key="b480d623-3051-456e-8615-c93230cc1d8c" Alias="My password protected page" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/MyPasswordProtectedPage</Path>
    <Trashed>false</Trashed>
    <ContentType>sampleDocType</ContentType>
    <CreateDate>2022-07-11T10:00:30</CreateDate>
    <NodeName Default="My password protected page" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e6f0380-43f6-4ffe-881a-ba8ce9d2b048">SampleDocType</Template>
  </Info>
  <Properties>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[umb://media/8ac2c7bc0acb488ea4e624d9ea5bdff7]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <moreText>
      <Value><![CDATA[<p>This is a sample password protected page</p>]]></Value>
    </moreText>
    <radioButtonList>
      <Value><![CDATA[Value 1]]></Value>
    </radioButtonList>
    <searchFeatures>
      <Value><![CDATA[{"title":"My password protected page","description":"","noIndex":false,"shareTitle":"My password protected page","shareDescription":"","shareImage":null,"shareImageUrl":null,"default":{"title":"","description":""},"share":{"title":"","description":"","image":null,"imageUrl":null}}]]></Value>
    </searchFeatures>
    <slider>
      <Value><![CDATA[4]]></Value>
    </slider>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <textValue>
      <Value><![CDATA[]]></Value>
    </textValue>
    <title>
      <Value><![CDATA[My password protected page]]></Value>
    </title>
    <trueOrFalse>
      <Value><![CDATA[1]]></Value>
    </trueOrFalse>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>