<?xml version="1.0" encoding="utf-8"?>
<Content Key="00bf001c-124d-406e-b3f9-24c0f2634b4c" Alias="Register" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>register</ContentType>
    <CreateDate>2022-03-01T11:43:57</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe3cd5ae-fe35-4b48-a7e4-c4d90bfb87d0">Register</Template>
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[<p>Sorry, could not register</p>]]></Value>
    </errorMessage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <instructionMessage>
      <Value><![CDATA[]]></Value>
    </instructionMessage>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <searchFeatures>
      <Value><![CDATA[{"title":"Register","description":"","noIndex":false,"shareTitle":"Register","shareDescription":"","shareImage":null,"shareImageUrl":null,"default":{"title":"","description":""},"share":{"title":"","description":"","image":null,"imageUrl":null}}]]></Value>
    </searchFeatures>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <successMessage>
      <Value><![CDATA[<p>Thank you for registering</p>]]></Value>
    </successMessage>
    <title>
      <Value><![CDATA[Register]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>