<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0f3bdfd-65d0-43ac-9d5a-faec8f0acbfa" Alias="Sample Form" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/SampleForm</Path>
    <Trashed>false</Trashed>
    <ContentType>sampleForm</ContentType>
    <CreateDate>2022-07-11T06:47:15</CreateDate>
    <NodeName Default="Sample Form" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ae8d69d9-2f60-46bb-93f6-9a7f91712a7a">SampleForm</Template>
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[<p>Oh dear!</p>]]></Value>
    </errorMessage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <instructionMessage>
      <Value><![CDATA[]]></Value>
    </instructionMessage>
    <mainImage>
      <Value><![CDATA[umb://media/bbf2800f1cc54ea98d2eb33ff1d5efbe]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <searchFeatures>
      <Value><![CDATA[{"title":"Sample Form","description":"","noIndex":false,"shareTitle":"Sample Form","shareDescription":"","shareImage":null,"shareImageUrl":null,"default":{"title":"","description":""},"share":{"title":"","description":"","image":null,"imageUrl":null}}]]></Value>
    </searchFeatures>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <successMessage>
      <Value><![CDATA[<p>Success! </p>]]></Value>
    </successMessage>
    <title>
      <Value><![CDATA[Sample Form]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>