<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac04631e-f43b-4a46-b967-705b8e24003a" Alias="Sample Node" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/SampleNode</Path>
    <Trashed>false</Trashed>
    <ContentType>sampleDocType</ContentType>
    <CreateDate>2022-07-10T13:28:00</CreateDate>
    <NodeName Default="Sample Node" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e6f0380-43f6-4ffe-881a-ba8ce9d2b048">SampleDocType</Template>
  </Info>
  <Properties>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <moreText>
      <Value><![CDATA[<p>Powder jujubes sweet liquorice toffee. Bonbon tart sweet roll danish shortbread oat cake apple pie shortbread. Donut pie muffin tootsie roll danish wafer shortbread candy canes. Pastry jujubes pastry oat cake chocolate bar.</p>]]></Value>
    </moreText>
    <radioButtonList>
      <Value><![CDATA[Value 1]]></Value>
    </radioButtonList>
    <searchFeatures>
      <Value><![CDATA[{"title":"Sample Node","description":"","noIndex":false,"shareTitle":"Sample Node","shareDescription":"","shareImage":null,"shareImageUrl":null,"default":{"title":"","description":""},"share":{"title":"","description":"","image":null,"imageUrl":null}}]]></Value>
    </searchFeatures>
    <slider>
      <Value><![CDATA[2]]></Value>
    </slider>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <textValue>
      <Value><![CDATA[Text value from CMS]]></Value>
    </textValue>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <trueOrFalse>
      <Value><![CDATA[1]]></Value>
    </trueOrFalse>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>