<?xml version="1.0" encoding="utf-8"?>
<Content Key="54d2325c-b832-4355-a320-89464b875285" Alias="Test fact" Level="3">
  <Info>
    <Parent Key="d275e324-e30c-46c0-92ad-a56a3dbe50b9">Umbraco Facts</Parent>
    <Path>/Home/UmbracoFacts/TestFact</Path>
    <Trashed>false</Trashed>
    <ContentType>fact</ContentType>
    <CreateDate>2022-07-11T11:08:28</CreateDate>
    <NodeName Default="Test fact" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[Hello there!]]></Value>
    </content>
  </Properties>
</Content>