<?xml version="1.0" encoding="utf-8"?>
<Content Key="d275e324-e30c-46c0-92ad-a56a3dbe50b9" Alias="Umbraco Facts" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/UmbracoFacts</Path>
    <Trashed>false</Trashed>
    <ContentType>factList</ContentType>
    <CreateDate>2022-07-11T07:03:24</CreateDate>
    <NodeName Default="Umbraco Facts" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>