<?xml version="1.0" encoding="utf-8"?>
<Content Key="abc4f878-1ee1-46e9-96a0-39edfd7394d6" Alias="Umbraco Spotting" Level="3">
  <Info>
    <Parent Key="d275e324-e30c-46c0-92ad-a56a3dbe50b9">Umbraco Facts</Parent>
    <Path>/Home/UmbracoFacts/UmbracoSpotting</Path>
    <Trashed>false</Trashed>
    <ContentType>fact</ContentType>
    <CreateDate>2022-07-11T07:06:03</CreateDate>
    <NodeName Default="Umbraco Spotting" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA['Umbraco-spotting' is the game of spotting big brands running Umbraco]]></Value>
    </content>
  </Properties>
</Content>