<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d644288f-d10d-4146-b36e-ed99f70448f6" Alias="Redirect - Redirect Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Redirect - Redirect Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": "medium",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>