<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c95f39f-87bf-49bf-83d3-cd5fe14fecb1" Alias="Sample Doc Type - Radio Button List - Radio button list" Level="1">
  <Info>
    <Name>Sample Doc Type - Radio Button List - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Value 1"
    },
    {
      "id": 2,
      "value": "Value 2"
    }
  ]
}]]></Config>
</DataType>