<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5e55519-b9c1-4d98-b717-1be79ba80f32" Alias="Sample Doc Type - Slider" Level="1">
  <Info>
    <Name>Sample Doc Type - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": 1.0,
  "MaximumValue": 10.0,
  "StepIncrements": 0.0
}]]></Config>
</DataType>