<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1dd07598-ab32-4dc6-a126-468f84e08098" Alias="SEO Controls - Meta Momentum" Level="1">
  <Info>
    <Name>SEO Controls - Meta Momentum</Name>
    <EditorAlias>DM.MetaMomentum</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "showSearchFields": "1",
  "showSearchPreviewGoogle": "1",
  "fallbackTitleFields": "title,pageTitle",
  "fallbackDescriptionFields": "description,desc",
  "fallbackImageFields": "featureImage,heroImage",
  "showSocialFields": "1",
  "showSocialPreviewFacebook": "1",
  "showSocialPreviewTwitter": "1",
  "showSocialPreviewLinkedIn": "1"
}]]></Config>
</DataType>