<?xml version="1.0" encoding="utf-8"?>
<DataType Key="340e9fae-a698-4c72-86db-41f2e67e53e8" Alias="SEO Controls - Search Features - Meta Momentum" Level="1">
  <Info>
    <Name>SEO Controls - Search Features - Meta Momentum</Name>
    <EditorAlias>DM.MetaMomentum</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "showSearchFields": "1",
  "showSearchPreviewGoogle": "1",
  "fallbackTitleFields": "title,pageTitle",
  "fallbackDescriptionFields": "description,desc",
  "fallbackImageFields": "featureImage,heroImage",
  "showSocialFields": "1",
  "showSocialPreviewFacebook": "1",
  "showSocialPreviewTwitter": "1",
  "showSocialPreviewLinkedIn": "1"
}]]></Config>
</DataType>